
body {
  background-color: #ADD8E6;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;

}

#map {
  height: 50%;
  width: 75%;
}



#floating-panel {
  /*position: absolute;*/
  width: 75%;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}



.jumbotron {
  background-color: #fefefe;
}

.container-fluid {
  height: 100%;
  background: url("https://images6.alphacoders.com/423/thumb-1920-423653.jpg") no-repeat center center;
}

