<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>

<h1> PARKING APP LOGIN </h1>

		<% if (message) { %>
			<p style='background-color: white'><%= message %> </p>
		<%} -%>

	<nav class='navbar navbar-dark bg-dark'>
		<div class='navbar'>
			<ul class='navbar-nav'>
				<li class='active'>
					<a href="#" class='nav-link'">Login</a>
				</li>
				<li>
					<a href="#" class='nav-link'> Registration</a>
				</li>
		</ul>
		</div>
	</nav>
	<form action='/login' method='post' id='login' class='visible'>
		<input type='text' name='username' placeholder='username'>
		<input type='password' name='password' placeholder='password'>
		<button type='submit'>LOGIN</button>
	</form>

	<form action='/registration' method='post' id='registration' class='invisible'>
		<input type='text' name='username' placeholder='username'>
		<input type='password' name='password' placeholder='password'>
		<button type='submit'>REGISTER</button>
	</form>

	<script type="text/javascript" src="/js/app.js"></script>

</body>
</html>