<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>

<h1> Parking App Home Page</h1>

	<nav class='navbar navbar-dark bg-dark'>
		<div class='homeNav'>
			<ul class='navbar-nav'>
				<li class='active'>
					<a href="#" class='nav-link'">Home</a>
				</li>
				<li>
					<a href="/myspots/" class='nav-link'> My Spots</a>
				</li>
				<li> <a href="#" class='nav-link'>Logout</a>
		</ul>
		</div>
	</nav>



</body>








<script src="/js/app.js"></script>
</html>