<!DOCTYPE html>
<html>
<head>
  	<title>Home Page</title>

<!-- gi -->
</head>
<body>

<nav class= "justify-content-center nav-fill">
	<ul class="nav justify-content-center alert alert-light ">
  <li class="nav-item">
    <a class="nav-link active text-dark" href="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/myspots/new">New Spot</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/myspots/">My Spots</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/logout">Logout</a>
  </li>
</ul>

</nav>

<div id="flag">
  
</div>


</nav><br>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Zone Finder Chicago!</h1>
    <p class="lead">Find the zone associated with your address.</p>
    <a class="btn btn-primary btn-lg" href="/myspots/new" role="button">Get Started!</a>
  </div>
</div>

</body>

<script src="/js/app.js"></script>
</html>