<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>

	<p id="header">Welcome to your Parking App</p><!-- /header -->

	<div class="'container">
		<fieldset>
			<form action="/" method="post">
				<input type="text" name="city" class="input" placeholder="Enter a City" required>
				<input type="submit" class="button" value="Find">
			</form>
			<% if (street_name !== null) { %>
				<p><%= street_name %></p>
			<% } %>

			<% if(error !== null){ %>
				<p><% error %></p>
			<% } %>

		</fieldset>
		
	</div>

</body>
</html>