<!DOCTYPE html>
<html>
<head>
	<title></title>


	<nav class= "justify-content-center nav-fill">
		<ul class="nav justify-content-center alert alert-light ">
	  <li class="nav-item">
	    <a class="nav-link active text-dark" href="/home">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link text-dark" href="/myspots/new">New Spot</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link text-dark" href="/myspots/">My Spots</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link text-dark" href="/logout">Logout</a>
	  </li>
	</ul>
	</nav>

</head>
<body>


<div class="container">

	<h1 class="text-center">Edit your Spot</h1><br>

<ul class="list-inline text-center">

	<li class="list-inline-item"><form action="/myspots/<%= spot._id%>?_method=PUT" method="post">

		Spot Name: <input type="text" name="spotname" value="<%=spot.spotname%>"><br>

	</li>

		<button class="btn btn-light" type="Submit">Update Spot</button> 
	</form>



	<li class="list-inline-item"><form action="/myspots/<%= spot.id%>?_method=DELETE" method="POST">
		<button class="btn btn-danger">Delete</button>
	</form>
	</li>
</ul>



</div>














</body>
</html>

