<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Edit your Spot</h1>


	<form action="/myspots/<%= spot._id%>?_method=PUT" method="post">

		Spot Name: <input type="text" name="spotname" value="<%=spot.spotname%>"><br>

		<button type="Submit">Update Spot</button> 
	</form>


	<form action="/myspots/<%= spot.id%>?_method=DELETE" method="POST">
		<button>delete</button>
	</form>













</body>
</html>

