<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Edit your Spot</h1>


	<form action="/myspots/<%= spot._id%>?_method=PUT" method="POST">

		Spot Name: <input type="text" name="spotname" value="<%=spot.spotname%>"><br>

		<button type="Submit">Update Spot</button> 



	</form>















</body>
</html>

