<!DOCTYPE html>
<html>
<head>
	<title>My Spots</title>
</head>
<body>
	<h1> My Spots </h1>
	<a href="/myspots/new">Add a Spot</a>
		<% for(let i = 0; i <spots.length; i++) {%>
			<li> 
				<a href="/myspots/<%=spots[i].id%>"><%=spots[i].spotname%></a>
			</li>
		<% } %>
</body>
</html>