<!DOCTYPE html>
<html>
<head>


<nav class= "justify-content-center nav-fill">
	<ul class="nav justify-content-center alert alert-light ">
  <li class="nav-item">
    <a class="nav-link active text-dark" href="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/myspots/new">New Spot</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="/myspots/">My Spots</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#">Logout</a>
  </li>
</ul>
</nav>



	<title> New Spot</title>

	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN0v5gmBHb6x5gLO0XlH7k8iYfsoc7Y1Q&callback=initMap">
    </script>


</head>
<body>
	<h1> Check My Spot</h1>




	<div id="floating-panel">

		<input id="streetNum" type="textbox" class="ghost-button" placeholder="Street Number" required>
		<input id="streetDir" type="textbox" class="ghost-button" placeholder="Street Direction">
		<input id="street" type="textbox" class="ghost-button" placeholder="Street Name">
		<input id="city" type="textbox"  class="ghost-button" value="Chicago, IL">
  		<input id="submit" type="button" value="Geocode">
	</div>



	<div id="map"></div>
	<br> 

	<div id='returnZone'>
		
	</div>
	<br>

	<form action='/myspots' method='POST'>
		<input type='textbox' name='spotname' value='Spot Name'></input>	
		<button type='submit'>Save Spot</button>	
		<input type="textbox" id="zone" name="zone" value='zone' class='invisible'/></input>
		<input type="textbox" id="address" name="address" value='address' class='invisible'/></input>
		<br/>
		
	</form>


<script src="/js/app.js"></script>
</body>
</html>