<!DOCTYPE html>
<html>
<head>
	<title> Spot Show Page</title>
</head>
<body>
	<h1> <%=user.username%> Show Page </h1>

<h1><%= spot.spotname %></h1>




<button><a href="/myspots/<%= spot.id%>/edit">Edit Spot</a></button>









</body>
</html>